<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Edit</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <%-include('../partial/header.ejs')%>
        <%-include('../partial/navbar.ejs')%>
        <form action="/products/<%= product._id %>?_method=PUT" method="POST">
            <label>Name:</label>
            <input name="name" placeholder="name" type="text" value="<%=product.name%>"  required>
            <label>Price:</label>
            <input name="price" placeholder="price" type="number" value="<%=product.price%>" required >
            <label for="category">Category:</label>
            <select name="category">
              <option value="fruit"<%=product.category==='fruit'?'selected': ''%>>Fruit</option>
              <option value="vegetable"<%=product.category === 'vegetable'?'selected': ''%>>Vegetable</option>
              <option value="dairy"<%=product.category === 'dairy'?'selected': ''%>>Dairy</option>
              </select>
              <button>Submit</button>
              <a href="/products">Home</a>

        </form>
        
        <script src="" async defer></script>
    </body>
</html>